.topNavBar {
    background-color: #052a3b;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
}

.leftNavBar {
    position: fixed;
    left: 0;
    top: 40px;
    width: auto;
    height: calc(100% - 40px);
}

.menuButton {
    padding-left: 10px;
}

.softwareName {
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}

.logoutButton {
    float: right;
}

.accountButton {
    float: right;
}